html,
body {
	padding: 0;
	margin: 0;
}

body {
	background: #111827;
	color: #f9fafb;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
	padding: 0 20px;
	margin: 20px auto 0;
	width: 100%;
	max-width: 700px;
}

.app-header {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.app-title {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}

.competition {
	border-radius: 25px;
	border: 2px solid #FFFFFF;
	padding: 15px;
	width: 100%;
	margin: 10px;
}

.competition-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.competition-info,
.competition-more-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.competition-info p {
	margin: 12px;
}

.competition-more-info p {
	margin: 6px;
}

.competition-info-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.competition-title {
	font-size: 22px;
}

.competition-link {
	color: #FFFFFF;
	font-weight: bold;
}

.competition-watch {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 4px;
	border-radius: 6px;
}