* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background: #111827;
	color: #f9fafb;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
	padding: 0 20px;
	margin: 20px auto 0;
	width: 100%;
	max-width: 512px;
}

.app-header {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.app-title {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}

.competition {
	border-radius: 25px;
	border: 2px solid #FFFFFF;
	padding: 20px;
	width: 100%;
	height: 150px;
}